/*General*/
* {
    font-size: 16px;
    font-family: 'Gabarito', sans-serif, cursive;
}

html {
    scroll-behavior: smooth;
  }

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    color: black;
    text-align: justify;
    min-height: 100vh;
}

.dark-mode {
    background-color: black;
    color: rgb(238, 238, 238);
  }

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.95rem;
}

h3 {
    font-size: 1.5rem;
}

/*Header*/
header {
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#home-link {
    text-decoration: none;
    color:rgb(238, 238, 238);
    font-size: 1.75rem;
}

.menu {
    display: none;
    background-color: black;
    color:rgb(238, 238, 238);
    border: 1px solid rgb(238, 238, 238);
    padding: 15px 20px;
    margin-left: 40px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 12px;
    color: rgb(238, 238, 238);
    background-color: black;
    width: 100%;
    padding: 0 50px;
    margin-right: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
}

.navigation {
    margin: 0 20px;
    color: rgb(238, 238, 238);
    font-size: 1.15rem;
}

#dark {
    margin-right: 90px;
}

#dark button {
    background-color: black;
    color:rgb(238, 238, 238);
    border: 1px solid rgb(238, 238, 238);
    padding: 15px 20px;
}


/*Main*/

main {
    display: flex;
    flex-direction: column;
}

#home {
    margin-bottom: 150px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 350px;
}

#intro, #my-name, #to-scroll {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
#intro {
animation-delay: 0s;
}

#my-name {
animation-delay: 1s;
}

#to-scroll {
animation-delay: 2s;
}

@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}


/*About Me*/

#about-me {
    padding-top: 90px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}


#structure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}

#structure p {
    font-size: 1.25rem;
    margin-right: 25px;
    max-width: 600px;
}

#structure img {
    max-width: 600px;
    margin-top: 80px;
}

#structure .text {
    display: flex;
    flex-direction: column;
}

/*Projects*/

#projects {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

#proj-structure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
}

.project {
    height: 400px;
    overflow: hidden;
}

.project-img {
    max-width: 600px;
}

.project-description {
    max-width: 600px;
}

/*Contact*/

#main-contact {
    padding-top: 190px;
    max-width: 500px;
    margin-left: 200px;
    margin-bottom: 500px;
}

#contact {
    max-width: 600px;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 2.5rem;
}

/*Footer*/

footer {
    min-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 5rem;
    text-align: center;
    color: rgb(238, 238, 238);
    background-color: black;
}

footer p {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}



#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
  }

  /*Media queries*/

  @media only screen and (max-width: 900px) {

    *{
        font-size: 12px;
    }

    body {
        /*background-color: black;
        color: rgb(238, 238, 238);*/
        padding-left: 50px;
        padding-right: 60px;
    }

    nav {
        padding: 20px 20px;
    }

    #name {
        display: none;
    }

    .dropbtn {
        display: inline-block;
        cursor: pointer;
      }

    .dropdown {
    position: relative;
    display: inline-block;
    }
    

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: black;
        min-width: 160px;
        z-index: 1;
      }

    .dropdown-content a {
        color: rgb(238, 238, 238);
        padding: 12px 16px;
        display: block;
      }

    .show {
        display: block;
    }

    #home {
        margin-bottom: 250px;
    }

    
    
    #structure {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 1200px;
    }

    #structure-img {
        max-width: 600px;
        margin-top: 50px;
        max-height: 400px;
    }

    #projects {
        max-width: 850px;
    }

    .project-img {
        max-width: 80vw;
    }

    #main-contact {
        margin-bottom: 250px;
        margin-right: 60px;
        margin-left: 50px;
    }
  }

  @media only screen and (max-width: 400px) {

    * {
        font-size: 8px;
    }

    #structure-img {
        display: none;
    }
    
  }